

.documents-table-section {
  /* padding: 32px; */
  flex: 1;
  background-color: RGB(255 255 255);
  position: relative;
  left: -29px;
  top: -20px;
}

@media (max-width: 30rem) {
.documents-table-section {
margin-bottom: 10px;
}
}